header {
    display: flex;
    justify-content: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.hlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav {
    float: left;
}
a {
    display: block;
    padding: 8px;
}
.logo {
    display: flex;
    justify-content: center;
}
.icon {
    max-height: 25px;
    border-radius: 50%;
}
.main {
    padding-top: 40px;
}
